<div>
    <div class="title">{{header}}</div>
    <div class="content">
        <table class="table table-hover" fixed-header-table table-height="'100%'">
            <thead>
                <th ng-repeat="h in data.value.headers">{{h}}</th>
            </thead>
            <tbody>
                <tr class="data" ng-repeat="r in data.value.rows">
                    <td ng-repeat="i in r">{{i}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div updated-at="data.updatedAt"></div>
</div>
