[widget-countdown] {
    .value {
        border-radius: 10px;
        color: white;
        font-size: 70px;
        margin: 0 3px;
        padding: 0 20px;
    }

    .unit {
        font-size: 20px;
        font-weight: 700;
        padding-left: 5px;
        text-align: left;
        text-transform: uppercase;
    }

    .target {
        color: #c6179d;
        font-size: 20px;
        font-weight: 600;
        padding-top: 10px;
    }
}
