[widget-date] {
    .date {
        font-size: 24px;
    }

    .time {
        font-size: 45px;
    }

    .icon {
        font-size: 200px;
        opacity: 0.1;
        position: absolute;
    }
}
