<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div class="widget" widget-text="guy" header="Text"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
            <div class="widget" widget-table="cloudifyDeadline" header="Deadlines"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
            <div class="widget" widget-text="guy" header="Text"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            <div class="widget" widget-image="dogImage" header="Random Dog"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
            <div class="widget" widget-date="currentDate" date-format="EEEE MMM d yyyy" time-format="h:mm:ss a" timezone="America/Toronto" header="Toronto Time"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
            <div class="widget" widget-clock time-format="h:mm:ss a" header="Clock"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
            <div class="widget" widget-grid="addressBook" header="Address Book" check="true" last-updated="false"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="3" data-col="1" data-sizex="4" data-sizey="1" data-min-sizex="3">
            <div class="widget" widget-countdown="countdown" date-format="EEEE, MMMM d, yyyy h:mm:ss a" header="New Year Countdown"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
    </ul>
</div>
