<!--description
    Widgets Dashboard
-->

<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div class="widget" widget-clock time-format="h:mm:ss a" header="Clock"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div class="widget" widget-date="nycTime" date-format="EEEE MMM d yyyy" time-format="h:mm:ss a" timezone="America/New_York" header="Date"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
            <div class="widget" widget-countdown="marketClosure" header="Countdown"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
            <div class="widget" widget-profile="microFocus" header="Profile"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            <div class="widget" widget-progress="completion_progress" header="Progress (bar)"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
            <div class="widget" widget-progress="completion_progress" header="Progress (donut)" type="donut"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
            <div class="widget" widget-number="random_number1" header="Number" show-variation="true"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="2" data-col="4" data-sizex="2" data-sizey="1">
            <div class="widget" widget-chart="mfStockChart" header="Live Chart" x-axis-unit="s" y-axis-prefix-unit="$"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
            <div class="widget" widget-rss-feed="marketNews" header="RSS Feed"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
            <div class="widget" widget-table="cloudifyDeadline" header="Table"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
            <div class="widget" widget-image="dogImage" header="Image"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
            <div class="widget" widget-list="listStocks" header="List" hide-bullets="true"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="4" data-col="3" data-sizex="2" data-sizey="1">
            <div class="widget" widget-grid="addressBook" header="Grid" check="true" last-updated="false"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
        <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
            <div class="widget" widget-text="guy" header="Text"></div>
            <span class="gs-resize-handle gs-resize-handle-both"></span>
        </li>
    </ul>
</div>
